.header {
    padding: 15px 0;
    background-color: $off-blue;
}

.app-title {
    color: $white;
    font-weight: 700;
    font-size: 24px;
    margin: 0;
}

.app-subtile {
    color: $light-grey;
    font-weight: 300;
    font-size: 15px;
    margin: 0;
}