.header {
    display: block;
    width: 100%;
    height: auto;
    padding: 12px 0 20px;
    background-color: $white;
}

.show-case {
    text-align: center;
    display: block;
    width: 100%;
    height: auto;
    padding: 10px 0;
}

.app-title {
    color: $dark-navy;
    font-weight: 800;
    font-size: 42px;
    margin-bottom: 6px;
}

.app-subtitle {
    color: $black;
    font-weight: 700;
    font-size: 14px;
}