.option {
    padding: 12px 12px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $grey;
    background-color: $light-blue;
}

.option-text {
    font-weight: 700;
    font-size: 14px;
}

.empty-option {
    text-align: center;
    padding: 15px 15px;
    border-bottom: 1px solid $grey;
    background-color: $white;
}

.empty-option-text {
    font-weight: 700;
    font-size: 14px;
}