body {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-size: 14px;
    font-family: $font-type;
    background-color: $light-grey;
}

button {
    cursor: pointer;

    &:disabled {
        cursor: default;
    }
}